aiohttp==3.7.3
alembic==1.4.3
async-timeout==3.0.1
attrs==20.3.0
discord.py==1.6.0
ffmpeg==1.4
Mako==1.1.3
mcstatus==4.1.0
MarkupSafe==1.1.1
moviepy==1.0.3
multidict==5.1.0
psycopg2==2.7.5
pynacl==1.4.0
python-dateutil==2.8.1
python-editor==1.0.4
pytube==11.0.1
six==1.15.0
SQLAlchemy==1.3.22
websockets==8.1
yarl==1.6.3
youtube_dl==2021.6.6
